body{
  padding: 20px;
  background-image: url('https://img4.goodfon.ru/wallpaper/nbig/a/c8/abstraktsiia-grainy-abstract-background-wallpaper-fon-oboi.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}